@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind color;


*{
    transition: all 0.2s;
}
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');*/

:root{
    --primary-color: #AF8CFC;
    /*--primary-color: #ee3c20;*/
    --secondary-color: #F4E3FC;
    --border-radius: 12px;
}
body, html{
    background: white !important;
}

/* width */
::-webkit-scrollbar {
    width: 4px;

}

selector:-webkit-full-screen{
    display: block;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: white;
    margin: 15px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #b5b3b3;
    border-radius: 2px;
}

selector:-webkit-full-screen{
    display: block;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: white;
    margin: 15px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #b5b3b3;
    border-radius: 2px;
}


h1,h2,h3,h4,h5,h6, p, a, span, div{
    font-family: 'Montserrat', sans-serif;
    /*color: #ee3c20*/
    /*font-family: 'Libre Franklin', sans-serif;*/
}
*{
    /*color: #36332c;*/
    color: #000000;
}
.gradient{
    /*background: #fef3fe;*/
    /*background: #fbddff;*/
    /*background: #a5a2f4;*/
    /*background: #a5a2f4;*/
    /*background: #3342e1;*/
    /*background: #88cdfd;*/
    /*background: #fcc6a0;*/
    /*background: #fec9a2;*/
    /*background: #fef9f8;*/
    background: rgb(254,243,254);
    background: linear-gradient(167deg, rgba(254,243,254,1) 0%, rgba(251,221,255,1) 21%, rgba(136,205,253,1) 42%, rgba(252,198,160,1) 73%, rgba(253,211,182,1) 84%, rgba(254,249,248,1) 100%);
    background: linear-gradient(165deg, rgba(136, 205, 253, 1) 0%, rgba(251, 221, 255, 1) 81%, rgba(254, 243, 254, 1) 100%) !important;

}
.gradient-fb{
    background-image: radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.024) 0,rgba(160,51,255,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.04) 0,rgba(160,51,255,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.064) 0,rgba(160,51,255,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.024) 0,rgba(24,119,242,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.04) 0,rgba(24,119,242,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.064) 0,rgba(24,119,242,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.024) 0,rgba(255,108,92,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.04) 0,rgba(255,108,92,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.064) 0,rgba(255,108,92,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.024) 0,rgba(245,206,51,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.04) 0,rgba(245,206,51,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.064) 0,rgba(245,206,51,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.024) 0,rgba(37,211,102,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.04) 0,rgba(37,211,102,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.064) 0,rgba(37,211,102,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.024) 0,rgba(24,119,242,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.04) 0,rgba(24,119,242,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.064) 0,rgba(24,119,242,0) 100%) !important;
    background-size: 156.45vw 99.03vw, 156.45vw 99.03vw, 156.45vw 99.03vw, 226.86vw 145.44vw, 226.86vw 145.44vw, 226.86vw 145.44vw, 171.96vw 110.31vw, 171.96vw 110.31vw, 171.96vw 110.31vw, 130.29vw 83.58vw, 130.29vw 83.58vw, 130.29vw 83.58vw, 198vw 126.9vw, 198vw 126.9vw, 198vw 126.9vw, 300vw 192vw, 300vw 192vw, 300vw 192vw !important;
    background-position: 37.97vw calc(((300vw - 100vh)/2 - 85.77vw) * -1),37.97vw calc(((300vw - 100vh)/2 - 85.77vw) * -1),37.97vw calc(((300vw - 100vh)/2 - 85.77vw) * -1),-100vw calc(((300vw - 100vh)/2 - 154.56vw) * -1),-100vw calc(((300vw - 100vh)/2 - 154.56vw) * -1),-100vw calc(((300vw - 100vh)/2 - 154.56vw) * -1),13.34vw calc(((300vw - 100vh)/2 - 53.88vw) * -1),13.34vw calc(((300vw - 100vh)/2 - 53.88vw) * -1),13.34vw calc(((300vw - 100vh)/2 - 53.88vw) * -1),10.64vw calc(((300vw - 100vh)/2 - 17.19vw) * -1),10.64vw calc(((300vw - 100vh)/2 - 17.19vw) * -1),10.64vw calc(((300vw - 100vh)/2 - 17.19vw) * -1),-49vw calc(((300vw - 100vh)/2 - 41.1vw) * -1),-49vw calc(((300vw - 100vh)/2 - 41.1vw) * -1),-49vw calc(((300vw - 100vh)/2 - 41.1vw) * -1),-100vw calc(((300vw - 100vh)/2 - 78vw) * -1),-100vw calc(((300vw - 100vh)/2 - 78vw) * -1),-100vw calc(((300vw - 100vh)/2 - 78vw) * -1) !important;
}

.bg-primary{
    background: var(--primary-color) !important;
}
.route-active {
    transition: background 0.5s ease-in;
    color: white !important;
    background: var(--primary-color) !important;
}
.route-active svg{
    color: white !important;
    fill: white;
}

.bg-main{
    background: var(--primary-color) !important
}
.bg-secondary{
    background: var(--secondary-color) !important
}

.bg-main-hover{
    background: #F4E3FF !important;
}

.fadeIn{
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  /*0% { opacity: 0; transform: translate3d(0,-5%,0);}*/
  100% { opacity: 1; }
  /*100% { opacity: 1; transform: translate3d(0,0%,0);}*/
}

.card-shadow{
    /*box-shadow: rgba(66, 68, 90, 0.17) 5px 5px 30px -10px;*/
    box-shadow: rgba(66, 68, 90, 0.37) 5px 5px 30px -10px
}

.border-radius-main{
    border-radius: var(--border-radius);
    padding: 5px 10px;
}


.submit{
    position: relative;
    margin-top: 15px !important;
}
.button-content{
    display: flex;
    justify-content: center;
    color: white;
}

/* NOTIFICATIONS */

.warning{
    margin: 0px !important;
    transform-origin: 50% 0;
    background-color: #f7f8fc;
    border: 1px solid #eff1f6;
    border-radius: 8px;
    background-color: #ffeff0;
    border-color: #ff5a65;
    gap: 12px;
    color: #dc2b2b;
    align-items: center;
    padding: 5px 10px;
    display: flex;
    transition: 1s all;

}
.hide-notification{
    max-height: 0px;
    height: 0px;
    opacity: 0;
}
.show-notification{
    margin-top: 15px !important;
    max-height: 52px;
    height: 100%;
    opacity: 1;
}


/* HTML: <div class="loader"></div> */
.loader {

    position: absolute;
    opacity: 0;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid white;
    border-right-color: rgb(209 213 219);
    animation: l2 1s infinite linear;
    transition: all 0.3s;
    top: calc(50% - 12.5px);
    right: calc(50% - 12.5px);
}
.show-loader{
    opacity: 1;
}
.hide-content{
    opacity: 0;
}
@keyframes l2 {to{transform: rotate(1turn)}}
