@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind color;


*{
    transition: all 0.2s;
}
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');*/

:root{
    --primary-color: #ee3c20;
}


/* width */
::-webkit-scrollbar {
    width: 4px;

}

/* Track */
::-webkit-scrollbar-track {
    background-color: white;
    margin: 15px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #b5b3b3;
    border-radius: 2px;
}


h1,h2,h3,h4,h5,h6, p, a, span, div{
    /*font-family: 'Montserrat', sans-serif;*/
    /*color: #ee3c20*/
    font-family: 'Libre Franklin', sans-serif;
}
*{
    color: #36332c;
}
.gradient{
    /*background: #fef3fe;*/
    /*background: #fbddff;*/
    /*background: #a5a2f4;*/
    /*background: #a5a2f4;*/
    /*background: #3342e1;*/
    /*background: #88cdfd;*/
    /*background: #fcc6a0;*/
    /*background: #fec9a2;*/
    /*background: #fef9f8;*/
    background: rgb(254,243,254);
    background: linear-gradient(167deg, rgba(254,243,254,1) 0%, rgba(251,221,255,1) 21%, rgba(136,205,253,1) 42%, rgba(252,198,160,1) 73%, rgba(253,211,182,1) 84%, rgba(254,249,248,1) 100%);


}


.bg-primary{
    background: var(--primary-color) !important;
}
.route-active{
    transition: background 0.5s ease-in;
    color: white !important;
    background: #ee3c20 !important;
}

.route-active svg{
    color: white !important;
    fill: white;
}

.bg-red-main{
    background: #ee3c20 !important
}

.bg-red-main-hover{
    background: #c2331c !important;
}

.fadeIn{
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  /*0% { opacity: 0; transform: translate3d(0,-5%,0);}*/
  100% { opacity: 1; }
  /*100% { opacity: 1; transform: translate3d(0,0%,0);}*/
}

.card-shadow{
    box-shadow: rgba(66, 68, 90, 0.17) 5px 5px 30px -10px;
}



.submit{
    position: relative;
    margin-top: 15px !important;
}
.button-content{
    display: flex;
    justify-content: center;
    color: white;
}

/* NOTIFICATIONS */

.warning{
    margin: 0px !important;
    transform-origin: 50% 0;
    background-color: #f7f8fc;
    border: 1px solid #eff1f6;
    border-radius: 8px;
    background-color: #ffeff0;
    border-color: #ff5a65;
    gap: 12px;
    color: #dc2b2b;
    align-items: center;
    padding: 5px 10px;
    display: flex;
    transition: 1s all;

}
.hide-notification{
    max-height: 0px;
    height: 0px;
    opacity: 0;
}
.show-notification{
    margin-top: 15px !important;
    max-height: 52px;
    height: 100%;
    opacity: 1;
}


/* HTML: <div class="loader"></div> */
.loader {

    position: absolute;
    opacity: 0;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid white;
    border-right-color: rgb(209 213 219);
    animation: l2 1s infinite linear;
    transition: all 0.3s;
    top: calc(50% - 12.5px);
    right: calc(50% - 12.5px);
}
.show-loader{
    opacity: 1;
}
.hide-content{
    opacity: 0;
}
@keyframes l2 {to{transform: rotate(1turn)}}
